{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        
{% for field in form.visible_fields %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class+='form-control' %}
    {% for error in field.errors %}
      <span class="help-block text-danger">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}

        
        <button class="btn btn-block btn-info " type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}