<!DOCTYPE html>
<html>
	<head>
		<title>
			HomeFineDer
		</title>
	</head>
	<style>
		.email{
			margin-left:30px;
		}
		.email h4{
			margin-bottom:20px;
		}
		.email a{
			text-decoration:none;
		}
	</style>
	<body>
		<div class="email">
			<h4> You're recieving this email from a potential Client at HomeFineDer</h4>
			<p>Hi, I am {{fullname}}</p>
			<p>{{message}}</p>
			<p>Send a reply email at <a href="mailto:{{reply_email}}">{{reply_email}}</a> or call/Whatsapp: <br>
				<a href="tel:{{phone}}">{{phone}}</a>
			</p>
		</div>
		
		
	</body>


</html>